<div id="rate-container">
    <div id="rate-div">
        <h2>Create your ad</h2>

        <div id="rating-div">
            <p>Rating</p>
            <span id="rate">
                <img class="notChosen" id="1" src="../assets/one.png" (click)="setRate(1)">
                <img class="notChosen" id="2" src="../assets/two.png" (click)="setRate(2)">
                <img class="notChosen" id="3" src="../assets/three.png" (click)="setRate(3)">
                <img class="notChosen" id="4" src="../assets/four.png" (click)="setRate(4)">
                <img class="notChosen" id="5" src="../assets/five.png" (click)="setRate(5)">
            </span>
            <!--<input type="number" [(ngModel)]="ratingValue" class="select">-->
        </div>

        <div id="rate-message-div">
            <p>Description of your rate</p>
            <textarea rows="4" cols="50" type="text" id="message-input" [(ngModel)]="message"></textarea>
        </div>

        <button id="send-rate-button" (click)="sendRate()" class="button">Done</button>

        <div class="info-div">
            <span class="info" id="info">Create a new advertisement</span>
            <span class="error hidden" id="error">{{error}}</span>
        </div>

    </div>
</div>