#userList {
    position: relative;
    top: 10em;
    background-color: rgb(232, 237, 238);
    padding:2em;
    border:solid 0.5em #07222c;
    border-radius:2em;
}

.name {
    cursor: pointer;
}

.user-datas{
    text-align: left;
    margin-left:2em;
}

.profilePicture{
    height: 7em;
    width: 11em;
    border-radius:0.5em;
    border:solid 0.2em #07222c;
}

.listed-user {
    cursor: pointer;
}

.grid-container{
    display: grid;
    grid-template-columns: 20em 20em;
}

