<div id="ratings">
    <div>
      
     
      <span *ngIf="ratingtype=='rated'">
          <h2>Hand-seekers' ratings about me</h2>
        <div class="ratingDiv">
            <h3 *ngIf="employeeRatings.length===0">You haven't got any ratings here.</h3> 
        <span *ngFor="let rating of employeeRatings" class="rating"><strong>{{rating.raterName}}</strong> 
          <span class="ratingValue">{{rating.ratingText}}</span>  
          <span class="ratingValue">{{rating.rating | number:'1.0-1'}}/5</span> <br><hr> <br> </span>   
        </div>
      </span>
      <span  *ngIf="ratingtype=='myRatings'" >
          <h2>My ratings about Hand-seekers</h2>
          <div class="ratingDiv">
              <h3 *ngIf="employeeRatings.length===0">You haven't got any ratings here.</h3> 
        <span *ngFor="let rating of employeeRatings" class="rating"><strong>{{rating.ratedName}}</strong>  
          <span class="ratingValue">{{rating.ratingText}}</span>   
          <span class="ratingValue">{{rating.rating | number:'1.0-1'}}/5</span><br><hr> <br></span>
      </div>
      </span>      
      <br>
      <br>
      
      
      <span *ngIf="ratingtype=='rated'">
          <h2>Hand-lenders' ratings about me </h2>
          <div class="ratingDiv">
              <h3 *ngIf="employeeRatings.length===0">You haven't got any ratings here.</h3> 
        <span *ngFor="let rating of employerRatings" class="rating"><strong>{{rating.raterName}}</strong>
          <span class="ratingValue">{{rating.ratingText}}</span>     
          <span class="ratingValue">{{rating.rating | number:'1.0-1'}}/5</span><br><hr><br></span>
            </div>
      </span>
      <span *ngIf="ratingtype=='myRatings'">  
          <h2>My ratings about Hand-lenders</h2>   
          <div class="ratingDiv">   
              <h3 *ngIf="employeeRatings.length===0">You haven't got any ratings here.</h3> 
        <span *ngFor="let rating of employerRatings" class="rating"><strong>{{rating.ratedName}}</strong>  
          <span class="ratingValue">{{rating.ratingText}}</span>   
          <span class="ratingValue">{{rating.rating | number:'1.0-1'}}/5</span><br><hr><br></span>
            </div>
      </span>          
  </div>
</div>