<div id="singleAdDiv" *ngIf="loaded">
    <h2 class="error hidden" id="errorDiv">{{error}}</h2>
    <div id="ad-div" class="content" [ngClass]="{'ad-div': !ad.isPremium,'premium-ad-div': ad.isPremium}">
        <div class=" wrapper">

            <div id="title-category-div">
                <p id="ad-title"><strong>{{ad.title}}</strong></p>
                <p id="category"><strong>Category: </strong>{{ad.category}}</p>
            </div>

            <div id="date-advertiser-div">
                <h4 id="timestamp">{{ad.formattedTimestamp}}</h4>
                <h4 id="advertiserName" (click)="toProfile(ad.advertiserId)">Advertiser: {{ad.advertiserName}}</h4>
                <h4 id="state">State: {{ad.state}}</h4>
            </div>

            <div id="picture-div">
                <img *ngIf="ad.pictureLink == null" src="../assets/noImage.jpg"
                     class="ad-img">
                <img id={{ad.id}} *ngIf=" ad.pictureLink != null" src="{{ad.pictureLink}}" class="ad-img"
                     (error)="standBy(ad.id)">

            </div>

            <div id="description-div">
                <p *ngIf="ad.payment == 0 || ad.payment == null" class="payment"><strong>Payment: </strong>not specified
                </p>
                <p *ngIf="ad.payment != 0 && ad.payment != null" class="payment"><strong>Payment: </strong>{{ad.payment}}$
                    / hour</p>
                <span id="description">{{ad.description}}</span>
                <h3 *ngIf="this.user.type == 'GUEST'">You have to login to apply for this advertisement and to see the
                    profile
                    of the advertiser.</h3>

                <table id="report-button-table" *ngIf="!ownAd && user.type != 'ADMIN' && user.type != 'GUEST'">
                    <tr>
                        <td id="report-button-td">
                            <button class="button-inverse option-button" (click)="toReport()">Report</button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

        <table class="operate-button-table" *ngIf="user.type == 'ADMIN'">
            <tr>
                <td>
                    <button *ngIf="ad.state == 'Pending'" class="button-inverse option-button operate-button"
                            (click)="toBlock()">Block
                    </button>
                    <button *ngIf="ad.state != 'Pending'" class="button-inverse option-button operate-button" disabled>
                        Blocked
                    </button>
                </td>
            </tr>
        </table>

        <table class="operate-button-table" *ngIf="user.type!='ADMIN'  && user.type!='GUEST'">
            <tr>
                <td>
                    <button class="button-inverse operate-button"
                            *ngIf="!isUserApplied && !ownAd && user && !user.blocked"
                            (click)="applyToAd()">Apply
                    </button>
                    <p *ngIf="!ad.isPremium && ownAd && user">Highlight your advertisement for 1 Golden Hand! <button class="button-inverse operate-button-center" *ngIf="!ad.isPremium && ownAd && user"
                        (click)="makeAdPremium(ad)">Make premium
                </button></p>

                    <h3 *ngIf="isUserApplied">You have already applied for this advertisement.</h3>
                </td>
            </tr>
        </table>
        <br>
        <div id="applicants" *ngIf="ownAd && user && applications  && user.type != 'GUEST'">
            <div id="applications">
                <h2 class="applicants" *ngIf="ownAd">Applicants</h2>
                <h3 *ngIf="!applications?.length">You haven't got any applicants yet.</h3>
                <div *ngFor="let application of applications" class="application">
                    <div class="application-container">

                        <div class="application-details">
                            <table>
                                <tr>
                                    <td id="title-td">
                                        <strong class="application-title"
                                                (click)="toProfile(application.applicantId)">{{application.applicantName}} </strong>
                                        <span *ngIf="application.type=='Hand-lending'" class="rating-span">
                                            (<strong>Rating:</strong>
                                            {{application.employerRatingScore | number:'1.0-1'}} / 5)
                                        </span>
                                        <span *ngIf="application.type=='Hand-seeking'" class="rating-span">
                                            (<strong>Rating:</strong>
                                            {{application.employeeRatingScore | number:'1.0-1'}} / 5)
                                        </span>
                                    </td>

                                    <td id="date-td">{{application.formattedTimestamp}}</td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td id="image-td">
                                        <img id={{application.id}} class="applications-image"
                                             *ngIf="application.applicantPictureLink!=''"
                                             src={{application.applicantPictureLink}}
                                             (error)=standBy(application.id)>
                                        <img class="applications-image"
                                             *ngIf="application.applicantPictureLink=='' && application.type=='Hand-seeking'"
                                             src='../assets/hire.png'>
                                        <img class="applications-image"
                                             *ngIf="application.applicantPictureLink=='' && application.type=='Hand-lending'"
                                             src='../assets/offer.png'>
                                    </td>
                                    <td>
                                        <table class="app-table">
                                            <tr>
                                                <td id="description-td">{{application.formattedMessage}}</td>
                                            </tr>
                                            <tr>
                                                <td class="state-td"><strong>State: </strong>{{application.state}}</td>

                                                <td *ngIf="application.state =='Applied'" class="accept-decline-td">
                                                    <button class="button-inverse" (click)="accept(application)">
                                                        Accept
                                                    </button>
                                                </td>
                                                <td *ngIf="application.state =='Applied'" class="accept-decline-td">
                                                    <button class="button-inverse" (click)="decline(application)">
                                                        Decline
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="applicationMessageDiv" class="hidden">
    <button class="button" id="cancelButton" (click)="backToAd()">Back</button>

    <h2 class="message-to-advertiser">Message to advertiser</h2>

    <textarea rows="4" cols="30" class="messageTextbox" type="text" [(ngModel)]="applicationMessage"
              maxlength="250"></textarea>
    <p class="text-right">{{ 250 - applicationMessage.length + ' / ' + 250 + ' character(s)'}}</p>
    <br>
    <br>
    <button class="button" id="send-button" (click)="sendApplication()">Send</button>

    <div class="info-div">
        <span class="info" id="info">Create a new advertisement</span>
        <span class="error hidden" id="errorSpan">{{createAdError}}</span>
    </div>

</div>
