#ad-div {
    background-color: rgba(251, 251, 251, 0.4);
    
    margin-top:10%;
    width: 90%;
    border-radius:10px;
    padding:2%;
    text-align: left;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

#applications {
    margin-top: 67px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.application {
    width: 60%;
    padding-bottom: 1%;
}

.ad-title {
    cursor: pointer;
}
.application-container {
    display: block;
    background-color: #07222c;
    width: 100%;
    border-radius: 1.2em;
    text-align: left;
    padding: 0.5%;
}

.application-details {
    background-color: rgb(232, 237, 238);
    height: 10em;
    border-radius: 1em;
    padding: 0.5%;

}

.title-td {
    height: 1.5em;
    width: 90%;
    color: #07222c;
    font-size: 1.3em;
    font-weight: bold;

}




#date-td {
    width: 10%;
    margin-left: 80%;
    margin-right: 40%;
}

#applicant-name-td {
    height: 5em;
    width: 25%;
    text-align: center;
    font-size: 1.5em;
}

#state-td {
    width: 50%;
    text-align: right;
    padding-right: 3%;
}

.faded{
    opacity:0;
}

#cancelButton{
    float:right;
    position:relative;
    left:-5em;
    z-index:500;
}

#category-td {
    width: 50%;
}

#message-td {
    width: 80em;
}

#applyButton{
    float:right;
}

#messageTextbox{
    width:50%;
    height:300px;
}

#applicationMessageDiv{
    color:white;
    z-index:1000;
    position:relative;
    top:-32em;
    
    padding-top:3em;
    padding-bottom:3em;
    border-radius:30px;
    background-color:#07222c;
}

#singleAdDiv{
    overflow:auto;
}

#ad-title {
    text-align: left;
    text-shadow: 2px 2px #cfc4c4;
    width: fit-content;
}

#advertiserName {
    text-align: left;
    margin-left: 5%;
    font-style: italic;
    cursor: pointer;
    text-shadow: 1px 1px #e5d4d4;
    width: fit-content;
    margin-bottom: 0;
}

.ad-img {
    width: 30%;
    height: 30%;
    border-radius:20px;
    margin-left: 5%;
}

