#ad-div {
    background-color: rgba(251, 251, 251, 0.4);
    
    margin-top:10%;
    width: 90%;
    border-radius:10px;
    padding:2%;
    text-align: left;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

#applyButton{
    float:right;
}

#messageTextbox{
    width:70%;
    height:300px;
}

#applicationMessageDiv{
    color:white;
}

#singleAdDiv{
    overflow:auto;
}

#ad-title {
    text-align: left;
    text-shadow: 2px 2px #cfc4c4;
    width: fit-content;
}

#advertiserName {
    text-align: left;
    margin-left: 5%;
    font-style: italic;
    cursor: pointer;
    text-shadow: 1px 1px #e5d4d4;
    width: fit-content;
    margin-bottom: 0;
}

.ad-img {
    width: 30%;
    height: 30%;
    border-radius:20px;
    margin-left: 5%;
}

