<div id="login-content" >
    <div id="login-div">
        <form id="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
                
            
            <!--USER NAME TEXT FIELD-->
            <h4>Username</h4>
            <input type="text" formControlName="userName" class="input">
            
            <span *ngIf="loginForm.get('userName').touched">
                    <span *ngIf="loginForm.hasError('required', ['userName'])"><pre>   </pre>This field is required.</span>
            </span>

            
            
            <!--PASSWORD TEXT FIELD-->
            <h4>Password</h4>
            <input type="password" formControlName="password" class="input">

            <span *ngIf="loginForm.get('password').touched">
                    <span *ngIf="loginForm.hasError('required', ['password'])"><pre>   </pre>This field is required.</span>
            </span>

            
            
            <!--LOGIN BUTTON-->
            <br>
            <br>
            <input id="login-button" type="submit" value="Login" class="btn" [disabled]="loginForm.invalid">
                                   
        </form>
    </div>
</div>
