.ng-valid.input {
    border: 2px solid #42A948; /* green */
}

.ng-invalid.input {
    border: 2px solid #db171b /* red */
}

.ng-invalid span {
    color: red;
}

.ng-untouched.input {
    border: 2px solid transparent;
}

.form-div {
    text-align: center;
    margin-top: 100px;
}

.input-div {
    color: black;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border: 3px;
    border-style: ridge;
    border-color: #19db1c;
    background-color: #51ff48;
    width: 300px;
}

.input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 200;
    padding: 7px 0;
    width: 250px;
    transition: border .5s;
}

.input:focus {
    border: 2px solid #098800;
    box-shadow: none;
}

.btn {
    border: 2px solid transparent;
    background: #51ff48;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    display: block;
    width: 250px;
    margin: 10px auto;
    transition: background-color .5s;

}

.btn:hover {
    background-color: #098800;
    cursor: pointer;
    transition: background-color .5s;
}

.register-paragraph {
    font-size: 13px;
}

.register-link {
    cursor: pointer;
    text-decoration: underline;
    color: black;
    transition: color .5s;
}

.register-link:hover,
.register-link:active {
    text-decoration: none;
    color: #098800;
    transition: color .5s;
}