<h3>Login Form</h3>
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <table>
        <tr>
            <td>Email</td>
            <td>
                <input type="text" formControlName="email">
            </td>
            <td>
                <div *ngIf="loginForm.get('email').touched">
                    <div *ngIf="loginForm.hasError('required', ['email'])">
                        This field is required.
                    </div>
                    <div *ngIf="loginForm.hasError('pattern', ['email'])">
                        Please enter a valid email address.
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" formControlName="password">
            </td>
            <td>
                <div *ngIf="loginForm.get('password').touched">
                    <div *ngIf="loginForm.hasError('required', ['password'])">
                        This field is required.
                    </div>
                    <div *ngIf="loginForm.hasError('pattern', ['password'])">
                        Your password does not meet complexity requirements.
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Save" [disabled]="loginForm.invalid">
            </td>
        </tr>
    </table>
</form>