<div id="login-content" class="content">
    <div class="form-div">
        <form id="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="input-div">
                <h2 id="h2">Log in</h2><br>E-mail:<br>
                <input type="text" formControlName="email" class="input">
                <span *ngIf="loginForm.get('email').touched">
                    <span *ngIf="loginForm.hasError('required', ['email'])">
                        This field is required.
                    </span>
                    <span *ngIf="loginForm.hasError('pattern', ['email'])">
                        Please enter a valid email address.
                    </span>
                </span>
                <br> Password:<br>
                <input type="password" formControlName="password" class="input"><br>
                <span *ngIf="loginForm.get('password').touched">
                    <span *ngIf="loginForm.hasError('required', ['password'])">
                        This field is required.
                    </span>
                    <span *ngIf="loginForm.hasError('pattern', ['password'])">
                        Your password does not meet complexity requirements.
                    </span>
                </span>
                <input id="login-button" type="submit" value="Login" class="btn" [disabled]="loginForm.invalid">
            </div>
        </form>
        <p id="registration-para" class="register-paragraph">If you don't have an account <a routerLink="/register"
                                                                                             class="register-link">register</a>
            one</p>
        <div class="g-signin2" data-onsuccess="onSignIn" data-width="250" data-height="50"></div>
    </div>
</div>