#categories{
    position:relative;
    top:250px;
    width:100%;
    
    
}

.grid-container {
    display: grid;
    grid-template-columns: 35% 35% 35%;
  }

img{
    
    float:left;
    width:90%;
    -webkit-box-shadow: 0px 0px 41px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 41px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 41px 6px rgba(0,0,0,0.75);
    margin-right:15%;
    margin-top:15%;
    transition:0.5s;
    border-radius:10%;
    opacity: 0.6;
    
    
}

img:hover{
   position:relative;
   opacity:1;
   transform: scale(1.1);
    
}

