#header-bar{
    z-index: 1;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:75px;
    background-color:#89da59;
}

#search-button{
    margin-left:20px;
    height:35px;
    
}

#search-bar{
    position:absolute;
    top:10px;
    
    border-right: solid 2px green;
    width:370px;
}

#back-to-main{
    display:block;
    position:absolute;
    width:130px;
    left:400px;
    height:100%;
    cursor:pointer;
    
    
}

#back-to-main a{
    position:relative;
    top:25px;
    
}

#filter-div a{
    
    position:relative;
    top:25px;
    color:green;
}

a:link, a:visited, a:active{
    text-decoration: none;
    color:green;
}

#back-to-main:hover{
    background-color:#71c440;
}

#filter-div{
    
    display:block;
    position:absolute;
    width:130px;
    left:530px;
    height:100%;
    cursor:pointer;
}

#filter-div:hover{
    
    background-color:#71c440;
}

#testCategoryFilter{
    position:relative;
    left:400px;
    width:300px;
}

