<div id="header-bar" class="content">
    <div id="header-content">
        
        <p id="detailedSearch" (click)="showFilters()">►</p>
        <div id="search-bar">
            <input id="keyword-input" type="text" class="input" [(ngModel)]="keyword">
            <button id="search-button" (click)="filterAds()"><strong>Search</strong></button>

            <div id="filters" class="hidden">
                <div id="category-filter">
                    <p><strong id="strong-category">Category</strong></p>
                    <select id="category-select" [(ngModel)]="selectedCategory">
                        <option id="category-option" *ngFor="let c of categories" value={{c}}>{{c}}</option>
                    </select>
                </div>

                <div id="hire-offer-filter">
                    <p><strong id="strong-hire-offer">Hire/Offer</strong></p>
                    <select id="type-select" [(ngModel)]="selectedType">
                        <option value="All">All</option>
                        <option value="Hire">Hire</option>
                        <option value="Offer">Offer</option>
                    </select>
                </div>
            </div>

        </div>

        <div id="back-to-main" routerLink="/categories">
            <a><strong>Home</strong></a>
        </div>
        <div id="registerDiv" *ngIf="user == null" (click)="register()">
            <p ><strong>Register</strong></p>
        </div>
        <div id="loginDiv" *ngIf="user == null" (click)="login()">
                <p ><strong>Login</strong></p>
        </div>

        <div id="logoutDiv" *ngIf="user != null" (click)="logout()">
                <p ><strong>Logout</strong></p>
        </div>

        <div id="profileDiv" *ngIf="user != null" (click)="toProfile(user)">
                <p ><strong>Profile</strong></p>
        </div>
    </div>
</div>