<div id="header-bar" class="content">
    
    <div id="header-content">
        <img id="header-logo" src="../../assets/headerlogo.png" routerLink='/categories'>
        <p id="detailedSearch" (click)="showFilters()">►</p>
        <div id="search-bar">
            <input id="keyword-input" type="text" [(ngModel)]="filterSettings.keyword">
            <button id="search-button" (click)="filterAds()"><strong>Search</strong></button>

            <div id="filters" class="hidden">
                <div id="category-filter">
                    <p><strong id="strong-category">Category</strong></p>
                    <select id="category-select" [(ngModel)]="filterSettings.selectedCategory">
                        <option id="category-option" *ngFor="let c of categories" value={{c}}>{{c}}</option>
                    </select>
                </div>

                <div id="hire-offer-filter">
                    <p><strong id="strong-hire-offer">Hand-seeking/Hand-lending</strong></p>
                    <select id="type-select" [(ngModel)]="filterSettings.selectedType">
                        <option value="All">All</option>
                        <option value="Hire">Hand-seeking</option>
                        <option value="Offer">Hand-lending</option>
                    </select>
                </div>
            </div>

        </div>

        <div id="icons">
            <div id="registerDiv" *ngIf="user == null" (click)="register()">
                <p><strong>Register</strong></p>
            </div>
            <div id="loginDiv" *ngIf="user == null" (click)="login()">
                    <p ><strong>Login</strong></p>
            </div>

            <div class="menuIcons" id="logoutDiv" *ngIf="user != null " (click)="logout()">
                    <img src="../assets/logoutIcon.png">
            </div>

            <div class="menuIcons" id="profileDiv" *ngIf="user != null && user.type != 'ADMIN'" (click)="toProfile(user)">
                    <img src="../assets/profileIcon.png">
            </div>

            <div class="menuIcons" id="messagesDiv" *ngIf="user != null && user.type != 'ADMIN'" (click)="onMessagesClicked()">
                    <img src="../assets/messagesIcon.png">
            </div>


            <div class="menuIcons notificationsDiv" *ngIf="user != null && !newNotification"
                 (click)="toNotifications()">
                    <img src="../assets/notificationsIcon.png">
            </div>

            <div class="menuIcons notificationsDiv" *ngIf="user != null && newNotification" (click)="toNotifications()">
                <img src="../assets/notificationsIconNew.png">
            </div>

            <div class="menuIcons" id="createAdDiv" *ngIf="user != null && user.type != 'ADMIN'" (click)="onCreateAdClicked()">
                    <img src="../assets/addIcon.png">
            </div>

            <div id="reportsDiv" *ngIf="user != null && user.type=='ADMIN'" (click)="toReports()">
                    <p><strong>Reports</strong></p>
             </div>

             <div id="usersDiv" *ngIf="user != null && user.type=='ADMIN'" (click)="toUsers()">
                    <p><strong>Users</strong></p>
             </div>
        </div>


    </div>
</div>