#header-bar{
    z-index: 1;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:75px;
    border-bottom:solid 2px green;
    background-color:#89da59;
}

#search-button{
    margin-left:20px;
    height:35px;
    
}

#search-bar{
    position:absolute;
    top:10px;
    
    border-right: solid 2px green;
    width:370px;
}

#back-to-main{
    display:block;
    position:absolute;
    width:130px;
    left:400px;
    height:100%;
    cursor:pointer;
    
    
}

#back-to-main a{
    position:relative;
    top:25px;
    
}

#filter-div a{
    
    position:relative;
    top:25px;
    color:green;
}

a:link, a:visited, a:active{
    text-decoration: none;
    color:green;
}

#back-to-main:hover{
    background-color:#71c440;
}

#filter-div{
    
    display:block;
    position:absolute;
    width:130px;
    left:530px;
    height:100%;
    cursor:pointer;
}

#filter-div:hover{
    
    background-color:#71c440;
}

#categoryFilter{
    position:relative;
    top:20px;
    left:15px;
    text-align: left;
}

#hire-offer-filter{
    top:20px;
    position:relative;
    left:15px;
    text-align: left;
}



#filters{
    
    background-color:#89da59;
    height:200px;
    width:400px;
    position:relative;
    top:61px;
    left:-222px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
    -webkit-box-shadow: 6px 11px 38px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 11px 38px -11px rgba(0,0,0,0.75);
    box-shadow: 6px 11px 38px -11px rgba(0,0,0,0.75);
}

.hidden{
    display:none;
}

