
#createAdContainer{
    width: 95%;
    overflow:auto;
}

#createAdDiv{
    color:white;
    padding: 25px;
    background-color: #07222c;
    border-radius:5%;
    width:70%;
    height:70%;
    margin-top:10%;
    margin-bottom:5%;
    -webkit-box-shadow: 0px 0px 27px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 27px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 27px 3px rgba(0,0,0,0.75);
    border: 2px solid white;
    font-size: 1.1em;
}

#categoryDiv{
    position:relative;
    color:white;
}

.select {
    width: 40%;
    height: 4%;
    border-radius: 15px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    font-weight: 300;
    padding-left: 2%;
    padding-right: 2%
}

.select option {
    border-radius: 15px;
}
#typeDiv{
    position:relative;
    color:white;
}

.label {
    font-size: 1.2em;
}

.checkbox {
    height: 4%;
    width: 4%;
}

#premiumDiv{
    color:white;
}

#adDescriptionDiv{
    color:white;
}

#adTitleDiv{
    color:white;
}

#descriptionInput {
    width: 65%;
    height: 10em;
    padding: 2%;
    border-radius:15px;
    resize: none;
}

#titleInput {
    width: 40%;
    border-radius:30px;
    padding-left: 2%;
    padding-right: 2%;
}

select{
    width:80px;
}