<div id="createAdContainer">
    <div id="createAdDiv">
        <h2>Create your ad</h2>

        <div id="categoryDiv">
            <p>Category</p>
            <select [(ngModel)]="selectedCategory" class="select">
                <option id="category-option" *ngFor="let c of categories" value={{c}}>{{c}}</option>
            </select>
        </div>

        <div id="typeDiv">
            <p>Type</p>
            <select [(ngModel)]="selectedType" class="select">
                <option value="Hand-seeking">Hand-seeking</option>
                <option value="Hand-lending">Hand-lending</option>
            </select>
        </div>

        <br>


        <div id="adTitleDiv">
            <p>Title</p>
            <input type="text" id="titleInput" [(ngModel)]="adTitle">
        </div>

        <br>


        <div id="ad-payment-div">
            <p>Payment (optional)</p>
            <input type="number" id="payment-input" [(ngModel)]="adPayment" min="1" max="1000"><span id="price-span">USD / hour</span>
        </div>


        <br>

        <div id="adDescriptionDiv">
            <p>Description of your ad</p>
            <textarea rows="4" cols="50" type="text" id="descriptionInput" [(ngModel)]="adDescription"></textarea>
        </div>

        <div id="premiumDiv" *ngIf="user.type == 'person'">
            <br>
            <p>Highlight your advertisement for just 1 Golden Hand!</p>
            <p class="label">Premium <input class="checkbox" type="checkbox" [(ngModel)]="isPremium"></p>
        </div>

        <div id="button-div">
            <label>
                <input type="file" (change)="selectFile($event)" accept="image/*" class="btn btn-default">
            </label>

            <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="upload()">Upload</button>

            <div *ngIf="currentFileUpload" class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                     attr.aria-valuenow="{{progress.percentage}}"
                     aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                    {{progress.percentage}}%
                </div>
            </div>

        </div>

        <button id="sendAdButton" (click)="sendAd()" class="button">Done</button>

        <div class="info-div">
            <span class="info" id="info">Create a new advertisement</span>
            <span class="error hidden" id="error">{{error}}</span>
        </div>

    </div>
</div>