<div class="content">

    
    <header>
            <a routerLink="/main">{{title}}</a>
        <table>
            <tr>

                <td>
                    <button *ngIf="user.userName == null" (click)="toRegister()">Register</button>
                    <span *ngIf="user.userName != null">{{user.userName}}</span>
                </td>
                <td>
                    <button *ngIf="user.userName == null" (click)="toLogin()">Login</button>
                    <button *ngIf="user.userName != null" (click)="logout()">Logout</button>
                </td>
            </tr>
        </table>

        <div id="search-bar-content" class="content">
            <form id="search-form" [formGroup]="searchForm" (ngSubmit)="search()">
                <input type="text" formControlName="search" class="input">
                <input id="search-button" type="submit">
            </form>
        </div>
    </header>
    
    <router-outlet></router-outlet>
    <footer>
        <h2>Footer</h2>
    </footer>

</div>

