.content {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    
}

#bg-div{
    position:fixed;
    height:100%;
    width:100%;
    background:url("https://hdwallsource.com/img/2014/9/blur-wallpaper-26339-27030-hd-wallpapers.jpg");
    left:0;
    z-index: -300;
    
}

