<div>
    
   <!-- <table>
        <tr>

            <td>
                <button *ngIf="user.userName == null" (click)="toRegister()">Register</button>
                <span *ngIf="user.userName != null">{{user.userName}}</span>
            </td>
            <td>
                <button *ngIf="user.userName == null" (click)="toLogin()">Login</button>
                <button *ngIf="user.userName != null" (click)="logout()">Logout</button>
            </td>
        </tr>
    </table>-->

    

    
    <app-ads></app-ads>
   
</div>






