<div id="applications">
    <h2 *ngIf="applications.length===0">You haven't got applications yet.</h2>
    <h2 id="error" class="error hidden">{{error}}</h2>
    <div *ngFor="let application of applications" class="application">
        <div class="application-container">

            <div class="application-details">
                <table>
                    <tr>
                        <td id="title-td"><strong class="application-title" (click)="toAd(application.adId)">{{application.adTitle}}</strong>
                        </td>
                        <td id="date-td">{{application.formattedTimestamp}}</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td id="image-td">
                            <img id={{application.id}} class="applications-image" *ngIf="application.adPictureLink!=''"
                                 src={{application.adPictureLink}}
                                 (error)=standBy(application.id)>
                            <img class="applications-image"
                                 *ngIf="application.adPictureLink=='' && application.type=='Hire'"
                                 src='../assets/hire.png'>
                            <img class="applications-image"
                                 *ngIf="application.adPictureLink=='' && application.type=='Offer'"
                                 src='../assets/offer.png'>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td id="description-td">{{application.formattedMessage}}</td>
                                </tr>
                                <tr>
                                    <td id="state-td"><strong>State: </strong>{{application.state}}</td>
                                    <td *ngIf="application.payment" class="payment-td"><strong>Payment:</strong>
                                        {{application.payment}} $ / hour
                                    </td>
                                    <td *ngIf="!application.payment" class="payment-td">Payment not specified</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>