<link rel='stylesheet prefetch'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>

<h2 class="error-div" id="error"> {{error}}</h2>
<div id="messageDiv">
    <div id="message-div" *ngIf="loaded">
        <div id="frame">
            <div id="sidepanel">
                <div id="profile">
                    <div class="wrap">
                        <img *ngIf="user.pictureLink!=null" class="{{user.id}}"
                             src={{user.pictureLink}} alt="" (error)="standBy(user.id)"/>
                        <img *ngIf="user.pictureLink==null"
                             src="../assets/noImage.jpg" alt=""/>
                        <p id="user-name" (click)="toProfile(user.id)">{{user.userName}}</p>
                    </div>
                </div>
                <div id="search">
                    <label for="search-input"><i class="fa fa-search" aria-hidden="true"></i></label>
                    <input type="text" placeholder="Search contacts..." id="search-input"
                           (keyup)="searchActiveContacts()"/>
                </div>
                <div id="contacts">
                    <ul *ngFor="let contact of activeContacts">
                        <li *ngIf="contact.user.id==activeContact.user.id" class="contact active">
                            <div class="wrap">
                                <img *ngIf="contact.user.pictureLink!=null" class="{{contact.user.id}}"
                                     src={{contact.user.pictureLink}} alt="" (error)="standBy(contact.user.id)"/>
                                <img *ngIf="contact.user.pictureLink==null"
                                     src="../assets/noImage.jpg" alt=""/>
                                <div class="meta">
                                    <p class="name">{{contact.user.userName}}</p>
                                    <p class="preview">{{contact.lastMessage.text}}</p>
                                </div>
                            </div>
                        </li>

                        <li *ngIf="contact.user.id!=activeContact.user.id" class="contact"
                            (click)=setActiveContact(contact)>
                            <div class="wrap">
                                <img *ngIf="contact.user.pictureLink!=null" class="{{contact.user.id}}"
                                     src={{contact.user.pictureLink}} alt="" (error)="standBy(contact.user.id)"/>
                                <img *ngIf="contact.user.pictureLink==null"
                                     src="../assets/noImage.jpg" alt=""/>
                                <div class="meta">
                                    <p class="name">{{contact.user.userName}}</p>
                                    <p class="preview">{{contact.lastMessage.text}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div *ngIf="activeContact.ad.advertiserId == user.id" id="bottom-bar">
                    <button *ngIf="activeContact.application.state=='Accepted'" class="complete"
                            (click)="onCompleteClicked()"><i
                            class="fa fa-check" aria-hidden="true"></i>
                        <span>Complete</span></button>
                    <button *ngIf="activeContact.application.state=='Accepted'" class="failed"
                            (click)="onFailClicked()"><i
                            class="fa fa-times" aria-hidden="true"></i>
                        <span>Failed</span>
                    </button>
                    <button *ngIf="activeContact.application.state!='Accepted'" class="complete inactive"><i
                            class="fa fa-check" aria-hidden="true"></i>
                        <span>Complete</span></button>
                    <button *ngIf="activeContact.application.state!='Accepted'" class="failed inactive"><i
                            class="fa fa-times" aria-hidden="true"></i>
                        <span>Failed</span>
                    </button>

                </div>
            </div>
            <div class="content">
                <div class="contact-profile">
                    <img *ngIf="activeContact.user.pictureLink!=null" class="{{activeContact.user.id}}"
                         src={{activeContact.user.pictureLink}} alt="" (error)="standBy(activeContact.user.id)"/>
                    <img *ngIf="activeContact.user.pictureLink==null"
                         src="../assets/noImage.jpg" alt=""/>
                    <p class="name" (click)="toProfile(activeContact.user.id)">{{activeContact.user.userName}}</p>
                    <p class="title" (click)="toAd(activeContact.ad.id)">{{activeContact.ad.title}}</p>
                    <img *ngIf="activeContact.ad.pictureLink != null" id="{{activeContact.ad.id}}"
                         src="{{activeContact.ad.pictureLink}}" alt="" (error)="standByAd(activeContact.ad.id)"/>
                    <img *ngIf="activeContact.ad.pictureLink == null"
                         src="../assets/noImage.jpg" alt=""/>

                </div>
                <div class="ad-content">

                </div>
                <div class="messages" id="messageContainer">
                        <h3 *ngIf="activeContact.messages.length===0" class="empty-category">You haven't got any messages yet.</h3> 
                    <ul *ngFor="let message of activeContact.messages">
                        <li *ngIf="message.senderId==user.id" class="sent">
                            <img *ngIf="user.pictureLink!=null" class="{{user.id}}"
                                 src={{user.pictureLink}} alt="" (error)="standBy(user.id)"/>
                            <img *ngIf="user.pictureLink==null"
                                 src="../assets/noImage.jpg" alt=""/>
                            <p>{{message.text}}</p>
                        </li>
                        <li *ngIf="message.senderId!=user.id" class="replies">
                            <img *ngIf="activeContact.user.pictureLink!=null" class="{{activeContact.user.id}}"
                                 src={{activeContact.user.pictureLink}} alt=""
                                 (error)="standBy(activeContact.user.id)"/>
                            <img *ngIf="activeContact.user.pictureLink==null"
                                 src="../assets/noImage.jpg" alt=""/>
                            <p>{{message.text}}</p>
                        </li>
                    </ul>
                </div>

                <div class="message-input" *ngIf="activeContact.application.state=='Accepted'">
                    <div class="wrap">
                        <input type="text" placeholder="Write your message..." id="message-input"/>
                        <button class="submit" (click)="sendMessage()"><i class="fa fa-paper-plane"
                                                                          aria-hidden="true"></i></button>
                    </div>
                </div>

                <div class="message-input" *ngIf="activeContact.application.state!='Accepted'">
                    <div class="wrap">
                        <input type="text" placeholder="Application is {{activeContact.ad.state}}" id="disabled-input"
                               disabled/>
                        <button class="disabled-submit" disabled><i class="fa fa-paper-plane"
                                                                    aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
