<div id="bg-div">
</div>
<div id="ads">
    <h1 class="header">My Advertisements</h1>
    <div *ngFor="let ad of ads" class="ad" (click)="showAd(ad)">
        <div class="ad-container">

            <div class="ad-details">
                <table>
                    <tr>
                        <td class="title-td"><strong class="ad-title">{{ad.title}}</strong></td>
                        <td id="date-td">{{ad.timestamp}}</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td id="image-td"><img id="ads-image" src="{{ad.pictureLink}}"></td>
                        <td>
                            <table>
                                <tr>
                                    <td id="description-td">{{ad.description}}</td>
                                </tr>
                                <tr>
                                    <td id="type-td">Type: {{ad.type}}</td>
                                    <td id="category-td">Category: {{ad.category}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
