<div id="outer-div">
    <h2 class="NotAbletoAd" *ngIf="!user.ableToAd">You are not able to create and apply for ads. Fill your profile
        datas!</h2>
    <div id="profile-div">
        <div class="wrapper">
            <div class="content">
                <h2 class="username" id="username">{{currentUsersProfile.userName}}'s profile</h2>
                <img *ngIf=" currentUsersProfile.pictureLink == null"
                     src="../assets/noImage.jpg"
                     class="profile-img">
                <img *ngIf=" currentUsersProfile.pictureLink != null" src="{{currentUsersProfile.pictureLink}}"
                     class="profile-img">
            </div>

            <div class="contacts">
                <table class="contact-table">
                    <tr>
                        <td colspan="2">
                            <button *ngIf="ownProfile == true" class="options" (click)="profileChanges()"
                                    id="profile-change-button"></button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" id="header-td"><span class="contact-header">Contacts</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button class="fullname-img"></button>
                        </td>
                        <td id="fullname-td">
                    <span *ngIf="currentUsersProfile.fullName != null"
                          class="fullname">{{currentUsersProfile.fullName}}</span>
                            <span *ngIf="currentUsersProfile.fullName == null"
                                  class="not-specified fullname">Not specified</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button class="at-img"></button>
                        </td>
                        <td>
                            <span>{{currentUsersProfile.email}}</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button class="phone-img"></button>
                        </td>
                        <td id="phone-td">
                        <span *ngIf="currentUsersProfile.phone != null "
                              class="phone">{{currentUsersProfile.phone}}</span>
                            <span *ngIf="currentUsersProfile.phone == null"
                                  class="not-specified phone">Not specified</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button class="location-img"></button>
                        </td>
                        <td id="address-td">
                <span *ngIf="currentUsersProfile.address !=null"
                      class="address"> {{currentUsersProfile.postalCode}} {{currentUsersProfile.city}}, {{currentUsersProfile.address}}</span>
                            <span *ngIf="currentUsersProfile.address == null"
                                  class="address not-specified">Not specified</span>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div class="error">{{error}}</div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <button id="update-button" class="button-inverse hidden" (click)="update()">Save changes
                            </button>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="values">
                <p><strong id="balance">Balance: </strong>{{currentUsersProfile.balance}} Golden Hand</p>


                <table id="rating-table">
                    <tr>
                        <td id="employeeRating-td">
                            <strong><p>Rating as a Hand-lender: </p></strong>
                        </td>
                        <td>
                            <span>{{currentUsersProfile.employeeRatingScore | number:'1.0-1'}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td id="employerRating-td">
                            <strong><p>Rating as a Hand-seeker: </p></strong>
                        </td>
                        <td>
                            <span>{{currentUsersProfile.employerRatingScore | number:'1.0-1'}}</span>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="manage-buttons" *ngIf="ownProfile">
                <button class="button-inverse option-button" (click)="toManageAdvertisements()">My Advertisements
                </button>
                <br>
                <button class="button-inverse option-button" (click)="toRatedUsers()">Rated Users</button>
                <br>
                <button class="button-inverse option-button" (click)="toMyRatings()">My Raters</button>
                <br>
                <button class="button-inverse option-button" (click)="toApplications()">My Applications</button>
            </div>
        </div>
    </div>
</div>