.ng-valid.input {
    border: 2px solid #42A948; /* green */
}

.ng-invalid.input {
    border: 2px solid #db171b /* red */
}
html{
    font-family: 'Ubuntu', sans-serif;
}

.ng-untouched.input {
    border: 2px solid transparent;
}

.input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    margin-top: 3px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 100;
    padding: 5px 0;
    width: 230px;
    transition: border .5s;
}

.input:focus {
    border: 2px solid #000000;
    box-shadow: none;
}

#bg-div {
    position: fixed;
    height: 100%;
    width: 100%;
    background: url("https://hdwallsource.com/img/2014/9/blur-wallpaper-26339-27030-hd-wallpapers.jpg");
    left: 0;
    z-index: -300;

}
.error-div {
    padding-top: 10%;
    color: #a80900;
}