.ng-valid.input {
    border: 2px solid #42A948; /* green */
}

.ng-invalid.input {
    border: 2px solid #BE1000 /* red */
}
html{
    font-family: 'Ubuntu', sans-serif;
}

.ng-untouched.input {
    border: 2px solid transparent;
}

.input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    margin-top: 3px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 100;
    padding: 5px 0;
    width: 230px;
    transition: border .5s;
}

.input:focus {
    border: 2px solid #0a2d3a;
    box-shadow: none;
}

.input-min {
    text-align: center;
    background-color: #ECF0F1;
    border: 1px solid white;
    margin-top: 2px;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 100;
    padding: 3px 0;
    width: 150px;
    transition: border .5s;
}

.input-min:focus {
    border: 1px solid #000000;
    box-shadow: none;
}

#bg-div {
    position: fixed;
    height: 100%;
    width: 100%;
    
    background: url("assets/background.png");
    left: 0;
    z-index: -300;
    background-repeat: no-repeat;

}

.info-div {
    padding-top: 4%;
}

.info {
    color: white;
}

.error {
    color: #BE1000;
}

.button {
    color: white;
    margin-top: 8px;
    padding: 8px 20px;
    font-weight: 500;
    border-radius: 100px;
    border: 2px;
    border-style: ridge;
    background-color: transparent;
    border-color: white;
    font-size: 1.2em;
    transition: background-color, color 0.5s;
}

.button:enabled:active,
.button:enabled:hover {
    color: #07222c;
    background-color: #fff;
    transition: background-color, color 0.5s;
    cursor: pointer;
}

.button:disabled:active,
.button:disabled:hover {
    color: #BE1000;
    background-color: white;
    transition: background-color, color 0.5s;
    cursor: not-allowed;
}

.button-inverse {
    color: #000000;
    margin-top: 4px;
    padding: 4px 10px;
    font-weight: 500;
    border-radius: 100px;
    border: 2px;
    border-style: ridge;
    background-color: transparent;
    border-color: #000000;
    font-size: 1.1em;
    transition: background-color, color 0.5s;
}

.button-inverse:active,
.button-inverse:hover {
    color: white;
    background-color: black;
    transition: background-color, color 0.5s;
    cursor: pointer;
}

.button-inverse:disabled:active,
.button-inverse:disabled:hover {
    cursor: not-allowed;
}

button:focus {outline:0;}
input:focus {outline:0;}
select:focus {outline:0;}

.hidden {
    display: none;
}