<div id="notifications" *ngIf="loaded">
    <h2 *ngIf="!notifications?.length" class="empty-category">You haven't got any notification.</h2>
    <h2 id="error" class="error hidden">{{error}}</h2>
    <div class="notification-div" *ngIf="notifications?.length">
        <div class="button-div">
            <button class="button-inverse delete-button" (click)="unread()">Mark as Unread</button>
            <button class="button-inverse delete-button" (click)="delete()">Delete</button>
        </div>
        <table class="notifications-table" id="notification-table">
            <tr *ngFor="let notification of notifications" class="notification {{notification.read}}">
                <td>
                    <input type="checkbox" name="checked" value="{{notification.id}}" class="checkbox">
                </td>
                <td class="note-td" (click)="read(notification.id)" id="{{notification.id}}">
                    <span class="note"
                          *ngIf="notification.type === 'Apply'">New application for your advertisement</span>
                    <span class="note"
                          *ngIf="notification.type === 'Accepted'">Your application is accepted</span>
                    <span class="note"
                          *ngIf="notification.type === 'Declined'">Your application is declined</span>
                    <span class="note"
                          *ngIf="notification.type === 'Completed'">Your application is marked as completed</span>
                    <span class="note"
                          *ngIf="notification.type === 'Failed'">Your application is marked as failed</span>
                    <span class="note"
                          *ngIf="notification.type === 'EmployeeRated'">New rating about you as Hand-seeker</span>
                    <span class="note"
                          *ngIf="notification.type === 'EmployerRated'">New rating about you as Hand-lender</span>
                    <span class="note"
                          *ngIf="notification.type === 'Report'">New report</span>
                    <span class="note"
                          *ngIf="notification.type === 'Handle'">Your report is under consideration</span>
                    <span class="note"
                          *ngIf="notification.type === 'Rate'">Complete rating if haven't already</span>
                    <span class="note"
                          *ngIf="notification.type === 'BlockAd'">Your ad is blocked</span>
                    <p class="text-div hidden">{{notification.text}}</p>
                    <button class="button-inverse hidden"
                            *ngIf="notification.type === 'Apply'" (click)="toAd(notification.ad)">To my Advertisement
                    </button>
                    <button class="button-inverse hidden"
                            *ngIf="notification.type === 'Accepted'" (click)="toMessages()">To the Messages
                    </button>
                    <button class="button-inverse hidden"
                            *ngIf="notification.type === 'Declined'" (click)="toMyApplications()">To my
                        Applications
                    </button>
                    <button class="button-inverse hidden"
                            *ngIf="notification.type === 'Completed'" (click)="toRate(notification.application)">To the
                        rates
                    </button>
                    <button class="button-inverse hidden"
                            *ngIf="notification.type === 'Failed'" (click)="toRate(notification.application)">To the
                        rates
                    </button>
                    <button class="button-inverse hidden"
                            *ngIf="notification.type === 'EmployeeRated'" (click)="toMyRaters()">To my
                        Raters
                    </button>
                    <button class="button-inverse hidden"
                            *ngIf="notification.type === 'EmployerRated'" (click)="toMyRaters()">To my
                        Raters
                    </button>
                    <button class="button-inverse hidden"
                            *ngIf="notification.type === 'Report'" (click)="toReports()">To reports
                    </button>
                    <button class="button-inverse hidden"
                            *ngIf="notification.type === 'Rate'" (click)="toRate(notification.application)">To the
                        rates
                    </button>
                    <button class="button-inverse hidden hidden-button"
                            *ngIf="notification.type === 'Handle'">
                    </button>
                    <button class="button-inverse hidden hidden-button"
                            *ngIf="notification.type === 'BlockAd'">
                    </button>
                </td>
                <td class="date-td">
                    <span class="date-span">{{notification.formattedTimestamp}}</span>
                </td>

                <td>
                </td>
            </tr>
        </table>
    </div>
</div>