<div id="overflow-div">
    <h2 class="error hidden" id="error-div">{{error}}</h2>
    <div id="paypal-div" class="content">

        <div id="input-div">

            <table id="input-table" *ngIf="user.type=='person'">
                <tr>
                    <td>
                        <input
                                type="radio" name="amount"
                                id="3" class="hidden" value="8.99" [(ngModel)]="amount"/>
                        <label for="3">
                            <img
                                    src="../assets/3.jpg"
                                    alt="3 Golden Hands"/>
                            <p>3 Golden Hands for 8.99$</p>
                        </label>
                    </td>
                    <td>
                        <input
                                type="radio" name="amount"
                                id="6" class="hidden" value="14.99" [(ngModel)]="amount"/>
                        <label for="6">
                            <img
                                    src="../assets/6.jpg"
                                    alt="6 Golden Hands"/>
                            <p>6 Golden Hands for 14.99$</p>

                        </label>
                    </td>
                    <td>
                        <input
                                type="radio" name="amount"
                                id="12" class="hidden" value="26.99" [(ngModel)]="amount"/>
                        <label for="12">
                            <img
                                    src="../assets/12.jpg"
                                    alt="12 Golden Hands"/>
                            <p>12 Golden Hands for 26.99$</p>
                        </label>
                    </td>
                </tr>
            </table>
            <h3>Click to pay the subscription fee (54.99$)</h3>
        </div>


        <h2 *ngIf="paypalLoad">Paypal button is loading</h2>
        <div id="paypal-checkout-btn"></div>

    </div>
</div>
