<div id="register-content" class="content">
    <div id="register-div">
        <form id="register-form" [formGroup]="registerForm" (ngSubmit)="register()">


            <!--USER NAME TEXT FIELD-->
            <h4>Username</h4>
            <input type="text" formControlName="username" class="input" id="usernameInput">

            <span *ngIf="registerForm.get('username').touched">
                    <span *ngIf="registerForm.hasError('required', ['username'])">{{putPlaceholder("usernameInput")}}</span>
                    <span *ngIf="registerForm.hasError('minlength', ['username'])">{{putPlaceholder("usernameInput")}}</span>
                    <span *ngIf="registerForm.hasError('maxlength', ['username'])">{{putPlaceholder("usernameInput")}}</span>

            </span>


            <!--PASSWORD TEXT FIELD-->
            <h4>Password</h4>
            <input type="password" formControlName="password" class="input" id="passwordInput">

            <span *ngIf="registerForm.get('password').touched">
                    <span *ngIf="registerForm.hasError('required', ['password'])">{{putPlaceholder("passwordInput")}}</span>
                    <span *ngIf="registerForm.hasError('pattern', ['password'])">{{putPlaceholder("passwordInput")}}</span>
            </span>


            <!--EMAIL TEXT FIELD-->
            <h4>Email</h4>
            <input type="text" formControlName="email" class="input" id="emailInput">

            <span *ngIf="registerForm.get('email').touched">
                    <span *ngIf="registerForm.hasError('required', ['email'])">{{putPlaceholder("emailInput")}}</span>
                    <span *ngIf="registerForm.hasError('pattern', ['email'])">{{putPlaceholder("emailInput")}}</span>

            </span>


            <!--TYPE SELECT FIELD-->
            <h4>Type</h4>
            <select formControlName="type">
                <option value="person" selected="selected">Person</option>
                <option value="company">Company</option>
            </select>

            <span *ngIf="registerForm.get('type').touched">
                    <span *ngIf="registerForm.hasError('required', ['type'])">{{putPlaceholder("typeinput")}}</span>
            </span>


            <!--REGISTER BUTTON-->
            <br>
            <br>
            <br>
            <button type="submit" id="register-button" class="button" [disabled]="registerForm.invalid">
                <strong>Register</strong>
            </button>

            <div class="info-div">
                <span class="info" id="info">Register a new account</span>
                <span class="error hidden" id="error">{{error}}</span>
            </div>

        </form>
    </div>
</div>